// -----------------------------------------------------------------------------
// Styles for buttons
// -----------------------------------------------------------------------------

.btn {
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  &-link {
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--white {
      color: $color-white;
    }
  }

  &-outline {
    padding: 12px 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    background-color: transparent;

    &--primary {
      color: $color-primary;
      border-color: $color-primary;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }
}